<html>
  <head></head>
  <body>
    Thank you for registering! <br />
    Click on the link below to confirm your account and use the app: <br />
    {{confirmUrl}} <br />
    <br />
    The token will expire in 5 minutes.
  </body>
</html>